@{
    ViewData["Title"] = "A-Team Conference Sessions";
}


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your Conference Sessions.</p>

@foreach (var session in Model)
{
    <div class="card">
        <div class="card-img" style="background-image: url('@session.Image');"></div>
        <div class="card-body">
            <h5 class="card-title">@session.Title</h5>
            <p class="card-body">@session.Location
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SessionDetails" asp-route-id="@session.Id">See Session Details</a>
            </p>
        </div>
    </div>
}
